.aboutSection {
  display: flex;
  flex: 1;
  padding: 50px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: white;
  /* background-color: #9cc7d1; */
}

.imageContainer {
  display: flex;
  flex: 1;
  align-items: center;
  margin-right: 25px;
}
