.preFooter {
  background-color: #f0f0f0;
  height: 90px;
  padding: 32px;
  text-align: center;
}

.socialBlock {
  padding: 0px 17px;
}

.socialBlock:hover a {
  opacity: 0.2;
  transition: opacity 0.2s ease-in-out;
}

.iconWrapper {
  margin: 0px 6px;
}

.iconWrapper:hover {
  opacity: 1 !important;
  transition: opacity 170ms ease-in-out;
}

.bs-image-style {
  height: 20px;
  width: 21px;
}

.footer-inner {
  line-height: 1.6em;
  color: rgba(255, 255, 255, 0.9);

  font-size: 16px;
  text-align: center;
  text-size-adjust: 100%;
}

.footer-inner.desktop {
  padding: 64px 32px;
  margin: 0px 2px;
}

.footer-inner.mobile {
  margin: 0 0;
  padding: 20px;
}

.back-to-top-nav {
  text-transform: uppercase;
  margin: 24px 0px;
  font-size: 14px;
  letter-spacing: 1px;
}

.back-to-top-nav a {
  cursor: pointer;
  padding: 10.5px 14px;
  color: white;
  text-decoration: none;
}

.siteInfo {
  font-size: 14px;
  letter-spacing: 1px;
  display: flex;
  flex: 1;
  justify-content: center;
}

.siteInfo.desktop {
  flex-direction: row;
}

.siteInfo.mobile {
  flex-direction: column;
}

.site-address {
  text-transform: uppercase;
}

.site-phone.desktop {
  margin-left: 14px;
}

.site-phone.mobile {
  margin: 0px;
}

.siteBrand {
  color: rgba(255, 255, 255, 0.4);
  margin-top: 1.5em;
  letter-spacing: 0.8px;
}

.brand-inner {
  font-weight: 100;
  /* height: 25px; */
}

.brand-inner.desktop {
  padding: 0px 17px;
}

.brand-inner.mobile {
  padding: 17px;
}
