.page-cv {
  margin: 0 auto;
  max-width: 1084px;
  background-color: white;
  padding: 96px 32px;
}

.page-cv.mobile {
  padding: 20px;
}

.main-content-cv {
  margin-left: -17px;
  margin-right: -17px;
}

.block-content {
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 17px;
  display: block;
}

.block-content.mobile {
  padding: 17px 0px;
}

.block-content h1 {
  text-align: center;
  font-weight: 300;
  font-size: 42px;
}

.block-content.mobile h1 {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
}

.block-horizontal {
  padding: 17px;
}

.block-line {
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 300;
  line-height: 25.6px;
}

.block-line hr {
  background-color: rgba(31, 31, 31, 0.15);
  /* background-color: black; */
  margin: 32px 0px;
}

.block-line.mobile hr {
  margin: 0px;
}

.item-block {
  display: flex;
  flex: 1;
}

.item-block.side {
  flex-direction: column;
}

.item-block.split {
  justify-content: space-between;
}

.item-title {
  width: 33.33%;
  padding: 17px;
}

.item-title.mobile {
  width: auto;
}

.item-title h2 {
  font-size: 32px;
  font-weight: 100;
}

.item-title.mobile h2 {
  font-size: 26px;
}

.item-description {
  padding: 17px;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.item-description p {
  font-size: 16px;
}

.left-col {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: flex-start;
}

.right-col {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.right-col p {
  font-size: 16px;
  text-align: end;
}

.list-block {
  margin-top: 10px;
}

.list-block li {
  font-size: 16px;
}

.no-space-header h4 {
  margin-bottom: 0px;
}

.special-block {
  display: flex;
  flex: 0 1 auto;
  margin-bottom: 20px;
}
