.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.homeStyle {
  display: flex;
  flex-direction: column;
}

.aboutSection {
  padding: 50px;
  background-color: rgb(181, 219, 219);
}

.contactSection {
  padding: 50px;
}
