.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.header {
  text-align: center;
}

.title {
  /* font-size: 1.8em; */
  margin-bottom: 50px;
}

.navMenu {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
}

.fullBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row1 {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: center;
  margin-left: 30px;
}

.menuItem {
  color: black;
  padding-right: 18px;
}

.menuItem:hover {
  color: black;
  cursor: pointer;
  text-decoration-line: none;
}

.homeStyle {
  display: flex;
  flex-direction: column;
}

.aboutSection {
  padding: 50px;
  background-color: rgb(181, 219, 219);
}

.contactSection {
  padding: 50px;
}
