.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.homeStyle {
  display: flex;
  flex-direction: column;
}

.contactSection {
  padding: 50px;
}

.headerImage {
  /* filter: brightness(50%); */
  /* margin: 0 auto; */
  /* width: 100vw; */
  /* object-fit: cover; */
  display: flex;
  flex-direction: column;
}

.topStyle {
  color: white;
  display: flex;
  flex: 1;
}

.topTitle {
  filter: brightness(70%);
  font-size: 2.2em;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
  font-weight: 100;
  font-family: "Lato", sans-serif;
}

.topDescription {
  margin-bottom: 80px;
  align-self: center;
  text-align: center;
  font-size: 6em;
  font-weight: 100;
  font-family: "Lato", sans-serif;
}
