.banner-style {
  color: white;
  background-color: #212529;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-style.desktop {
  font-size: 5em;
}

.title-style.mobile {
  font-size: 3em;
}

.subtitle-style {
  text-transform: uppercase;
}

.subtitle-style.mobile {
  color: #9c9999;
  font-size: 1.5em;
}

.subtitle-style.desktop {
  color: #9c9999;
  font-size: 1.9em;
}
